/* list.css */
.dashboard-container{
  background-color: #f7f7f7;
  height: 100%;
  margin-left: 15%;
}
.brand-list-container {
  padding: 20px;
}

.brand-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.brand-table th,
.brand-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.brand-table th {
  background-color: #f0f0f0;
}


.modal {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  /* max-width: 600px; */
  width: 30%;
  margin: 0 auto;
}

.modal-content {
  text-align: center;
}

.modal-heading {
  margin-bottom: 20px;
}


.add-brand-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* margin-bottom: 20px; */
  margin-left: 90%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard-container .pagination {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0; /* Adjust background color as needed */
  padding: 10px; /* Adjust padding as needed */
}


.dashboard-container .tile-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.dashboard-container .tile-list .brand-tile-container {
  margin-right: 15px;
  margin-top: 15px;
  width: 340px;
  height: 220px;
  background-color: #f3f3f3a1;
}

/* Adjust max-width based on your requirement */
.dashboard-container .tile-list {
  max-width: 100%; /* This will make the container take the full width and wrap items */
}