/* LeftSidebar.css */
.left-sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    color: #fff;
    padding-top: 20px;
  }
  
  .left-sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-sidebar nav li {
    padding: 10px 20px;
  }
  
  .left-sidebar nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  .left-sidebar nav li a:hover {
    background-color: #444;
  }
  