/* .brand-tile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 294px;
    border-radius: 10px;
    background: #fff2f2;
    box-shadow: 0 3px 30px hsla(0, 0%, 62.7%, .16);
    position: relative;
    cursor: pointer;
    height: 250px;
  } */
  
  .brand-tile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
    /* position: relative; */
  }
  
  .brand-tile-container:hover {
    transform: translateY(-5px);
  }
  
  .brand-tile-container img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60%;
  }
  
  .brand-tile-content-container {
    padding: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .action-container {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
  }
  
  .user-icon {
    padding: 8px;
    /* width: 50%; */
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 10px;
    background: #e0eeff;
  }
  
  .content span {
    font-size: 12px;
    color: #17006d;
    font-style: italic;
    font-weight: 600;
  }
  
  /* Add more styling as needed */
  
  .close-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    max-height: 30px;
    max-width: 50px;
  }

   button {
    background-color: rgb(0, 19, 104);
    padding: 5px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
 button:hover {
    background-color: rgb(66, 96, 204);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  