.brand-list-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  height:100%;
}

.brand-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.brand-table th,
.brand-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.brand-table th {
  background-color: #d1d1d1;
  color: #3d3d3d;

}

.brand-table tbody tr:hover {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
}

.brand-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.brand-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.brand-table td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.brand-table th,
.brand-table td {
  max-width: 200px;
}

.brand-table th:first-child,
.brand-table td:first-child {
  max-width: 100px;
}

.brand-table th:nth-child(2),
.brand-table td:nth-child(2) {
  max-width: 150px;
}

.brand-table th,
.brand-table td {
  position: relative;
}

.brand-table td:hover::before {
  content: attr(data-label);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.brand-table button {
  background-color: rgb(94, 124, 255);
  padding: 5px;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.brand-table button:hover {
  background-color: rgb(66, 96, 204);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

