.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
}

.pagination span {
    margin: 0 5px;
    font-weight: bold;
}